In [1]:
names = ["Alice", "Bob", "Charlie"]
print(names[0])
print(names[1])
print(names[2])

Alice
Bob
Charlie

In [2]:
names = ["Alice", "Bob", "Charlie"]
print("Hello " + names[0] + ", how are you?")
print("Hello " + names[1] + ", how are you?")
print("Hello " + names[2] + ", how are you?")

Hello Alice, how are you?
Hello Bob, how are you?
Hello Charlie, how are you?

In [3]:
cars = ["Honda Civic", "Toyota Corolla", "Ford Mustang"]
print("I would like to own a " + cars[0] + ".")
print("I would like to own a " + cars[1] + ".")
print("I would like to own a " + cars[2] + ".")

I would like to own a Honda Civic.
I would like to own a Toyota Corolla.
I would like to own a Ford Mustang.

In [4]:
guests = ["Albert Einstein", "Marie Curie", "Leonardo da Vinci"]
for guest in guests:
    print(f"Dear {guest}, you are invited to dinner! Please join us.")

Dear Albert Einstein, you are invited to dinner! Please join us.
Dear Marie Curie, you are invited to dinner! Please join us.
Dear Leonardo da Vinci, you are invited to dinner! Please join us.

In [5]:
guests = ["Albert Einstein", "Marie Curie", "Leonardo da Vinci"]
print(f"Unfortunately, {guests[2]} can't make it.")
guests[2] = "Nikola Tesla"
for guest in guests:
    print(f"Dear {guest}, you are invited to dinner! Please join us.")

Unfortunately, Leonardo da Vinci can't make it.
Dear Albert Einstein, you are invited to dinner! Please join us.
Dear Marie Curie, you are invited to dinner! Please join us.
Dear Nikola Tesla, you are invited to dinner! Please join us.

In [6]:
guests = ["Albert Einstein", "Marie Curie", "Nikola Tesla"]
print("We found a bigger table!")
guests.insert(0, "Stephen Hawking")
guests.insert(2, "Marie Curie")
guests.append("Isaac Newton")
for guest in guests:
    print(f"Dear {guest}, you are invited to dinner! Please join us.")

We found a bigger table!
Dear Stephen Hawking, you are invited to dinner! Please join us.
Dear Albert Einstein, you are invited to dinner! Please join us.
Dear Marie Curie, you are invited to dinner! Please join us.
Dear Marie Curie, you are invited to dinner! Please join us.
Dear Nikola Tesla, you are invited to dinner! Please join us.
Dear Isaac Newton, you are invited to dinner! Please join us.

In [7]:
guests = ["Stephen Hawking", "Albert Einstein", "Marie Curie", "Nikola Tesla", "Isaac Newton"]
print("Sorry, we can only invite two people for dinner.")
while len(guests) > 2:
    guest = guests.pop()
    print(f"Sorry, {guest}, you're not invited this time.")
for guest in guests:
    print(f"Dear {guest}, you're still invited to dinner! Please join us.")
del guests[:]
print(guests)

Sorry, we can only invite two people for dinner.
Sorry, Isaac Newton, you're not invited this time.
Sorry, Nikola Tesla, you're not invited this time.
Sorry, Marie Curie, you're not invited this time.
Dear Stephen Hawking, you're still invited to dinner! Please join us.
Dear Albert Einstein, you're still invited to dinner! Please join us.
[]

In [8]:
places = ["Tokyo", "Paris", "Rome", "New York", "Sydney"]
print(places)
print(sorted(places))
print(places)
print(sorted(places, reverse=True))
print(places)
places.reverse()
print(places)
places.reverse()
print(places)
places.sort()
print(places)
places.sort(reverse=True)
print(places)

['Tokyo', 'Paris', 'Rome', 'New York', 'Sydney']
['New York', 'Paris', 'Rome', 'Sydney', 'Tokyo']
['Tokyo', 'Paris', 'Rome', 'New York', 'Sydney']
['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']
['Tokyo', 'Paris', 'Rome', 'New York', 'Sydney']
['Sydney', 'New York', 'Rome', 'Paris', 'Tokyo']
['Tokyo', 'Paris', 'Rome', 'New York', 'Sydney']
['New York', 'Paris', 'Rome', 'Sydney', 'Tokyo']
['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']

In [9]:
mountains = ["Mount Everest", "K2", "Kangchenjunga", "Lhotse", "Makalu"]
print(mountains)
print(mountains[0])
print(mountains[-1])
print(f"There are {len(mountains)} mountains in the list.")
mountains.append("Cho Oyu")
print(mountains)
mountains.insert(2, "Nanga Parbat")
print(mountains)
del mountains[0]
print(mountains)
mountains.remove("Lhotse")
print(mountains)
print(mountains.pop(1))
print(mountains)
mountains.reverse()
print(mountains)
mountains.sort()
print(mountains)
mountains.sort(reverse=True)
print(mountains)

['Mount Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu']
Mount Everest
Makalu
There are 5 mountains in the list.
['Mount Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
['Mount Everest', 'K2', 'Nanga Parbat', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
['K2', 'Nanga Parbat', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Cho Oyu']
['K2', 'Nanga Parbat', 'Kangchenjunga', 'Makalu', 'Cho Oyu']
Nanga Parbat
['K2', 'Kangchenjunga', 'Makalu', 'Cho Oyu']
['Cho Oyu', 'Makalu', 'Kangchenjunga', 'K2']
['Cho Oyu', 'K2', 'Kangchenjunga', 'Makalu']
['Makalu', 'Kangchenjunga', 'K2', 'Cho Oyu']

In [10]:
print(mountains[3])

Cho Oyu